@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: #121212;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
    color: #121212;
}

a {
    color: #121212;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}

img {
    width: 100%;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

/* NAVBAR */

.top-nav {
    background-color: #FF0303;
    padding: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: #121212;
    font-weight: bolder;
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.social-links a {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #121212;
    font-size: 20px;
    border-radius: 100%;
}


.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-brand{
    color: white;
}

.social-links a:hover {
    background-color: #121212;
    color: #FF0303;
}

.navbar {
    background-color: #121212;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: #FF0303;
}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    color: white;
}

.navbar-brand span{
    color: #FF0303;
}

/*BTN*/
.btn {
    padding: 9px 24px;
    font-weight: 500;
}

.btn-brand {
    background-color: #FF0303;
    color: white;
    border-color: #FF0303;
}

.btn-brand:hover {
    color: white;
    background-color: #FF0303;
}

.navbar .navbar-toggler .navbar-toggler-icon{
    color: aliceblue;
}

/* Slider */
.slide1{
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)), url(../img/slider2.jpg);
}

.slide2{
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)), url(../img/slider22.jpg);
}

/* OWL-CAROUSEL */
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-top: -30px !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
    
}

.owl-prev {
    left: 0;
}

.owl-next{
    right: 0;
}

.owl-next:hover,
.owl-prev:hover{
    background-color: #FF0303 !important;
    transition: all 0.5s ease;
}

/* INFOBOX */
.info-box img {
    width: unset;
}


/*INFOBOX*/

.info-box{
    display: flex;
    align-items: center;
}
.info-box img{
    width: 90px;
    margin-right: 24px;
}

.logo-p{
    width: 350px;
    height: 350px;
}

/*MILESTONE*/
#milestone{
    background: linear-gradient(rgba(255, 3, 3, 0.8), rgba(255, 3, 3, 0.8)),  url(../img/slider2.jpg);
}

#milestone .display-4,
#milestone p{
    color: white;
}